@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color:  hsl(30, 38%, 92%);
    justify-content: center ;
    align-items: center;
    min-height: 100vh;

}
.img{
    display: flex;
    width: 300px;
    height: 450px;
    border-radius: 10px 0 0 10px;
    
}
.content{
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 450px;
    border-radius: 0px 10px 10px 0px;
    flex-direction: column;
    border: none;

}

.title h1{
    font-family: 'Fraunces';
    color: hsl(0, 0%, 14%);
    padding-left: 12%;
    margin-top: 25px;
    width: 270px;
}

.perfume p{
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: small;
    color: hsl(0, 0%, 53%);
    letter-spacing: 5px;
    padding-left: 12%;
    margin-top:30px ;
    
}

.text p{
    font-family: 'Montserrat';
    font-weight: lighter;
    color: hsl(0, 0%, 53%);
    padding-left: 12%;
    margin-top:25px ;
    line-height: 1.7em;
    font-size: small;
    width: 250px;
}

.preco{
    padding-left: 12%;
    margin-top: 25px;
    display: flex;
}
.p2{
    font-family: 'Montserrat';
    color: hsl(0, 0%, 53%);
    text-decoration: line-through;
    font-size: small;
    margin-top: 3.6%;
    padding-left: 17px;
}
.p1{
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
}

.botao{
    display: block;
    margin: auto;
    width: 220px;
    font-size: small;
    font-family: 'Montserrat';
    text-align: center;
    text-decoration: none;
    position: relative;
    padding: 13px 22px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: hsl(158, 36%, 37%) ;
    transition: all 0.2s ease;
    margin-top: 7%;
}
.botao:hover{
    background-color:hsl(212, 21%, 14%);
}
main{
    display: flex;
}
.img-mobile{
    display: none;
}
@media only screen and (min-width: 320px) and (max-width: 627px) {
    main{
        display: flex;
        flex-direction: column;
        max-width: 450px;
        margin: 2rem 0;
    }

    .img{
        display: none;
    }
    .img-mobile{
        display: flex;
        border-radius: 10px 10px 0 0;
    }
    .content{
        width: 450px;
        border-radius: 0 0 10px 10px;
        height: 430px;
    }
    .title h1{
        width: 390px;
    }
    .text p{
        width: 400px;
    
    }
    .botao{
        width: 80%;
    }
}