*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: hsl(221, 100%, 96%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
main{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.384);
}
.left__card{
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: #fff;
    padding: 2.5rem 3rem;
    border-radius: 20px;
}
#circle{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#circle h2{
    font-size: 3.5em;
}
#circle p{
    font-size: 0.8em;
    color: rgb(208, 208, 208);
    font-weight: 600;
}
.circle__box{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}
.left__card h1{
    font-size: 1.5em;
    color: rgb(222, 222, 222);
}
.title__box{
    display: flex;
    justify-content: center;
}
.subtitle__box{
    text-align: center;
    margin-bottom: 0.5rem;
}
.subtitle__box h3{
    font-size: 1.5em;
    margin-bottom: 1rem;
}
.subtitle__box p{
    color:rgb(208, 208, 208); 
    font-weight: 500;
}
.rigth__card{
    padding: 2rem;

}
.rigth__card ul li{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 18px 0 ;
}
.itemns__box{
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

span{
    color: grey;
}

#one{
    background-color: hsla(0, 100%, 67%, 0.171);
    padding: 8px;
    border-radius: 5px;
}
#one p.color{
    color:hsla(0, 100%, 67%) ;
}
#two{
    background-color: hsla(39, 100%, 56%, 0.171);
    padding: 8px;
    border-radius: 5px;
}
#two p.color{
    color: hsla(39, 100%, 56%)
}
#three{
    background-color: hsla(166, 100%, 37%, 0.171);
    padding: 8px;
    border-radius: 5px;
}
#three p.color{
    color: hsla(166, 100%, 37%)
}
#four{
    background-color: hsla(234, 85%, 45%, 0.171);
    padding: 8px;
    border-radius: 5px;
}
#four p.color{
    color: hsla(234, 85%, 45%)
}


a{
    text-decoration: none;
    padding: 10px 70px;
    background-color: hsl(224, 30%, 27%);
    color: #fff;
    border-radius: 20px;
    font-size: 15px;
}

.rigth__title__box h1{
    margin:7px 0 26px 0;
}

