@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lighter: hsl(148, 38%, 91%);
    --Green :hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);

    --White: hsl(0, 0%, 100%);
    --Gremedium: hsl(186, 15%, 59%);
    --Greydarker: hsl(187, 24%, 22%);

    --font: "Karla", sans-serif;
}
body{
    background-color: var(--lighter);
    font: normal normal 16px var(--font);
}

#content-box{
    background-color: var(--White);
}

label{
    font-size: 16px;
}


@media  screen and (max-width: 375px) {
    .row{
        display: flex;
        flex-direction: column;
    }
    .col-5{
        width: 100%;
        margin-top: 10px;
    }
}