@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lighter: hsl(148, 38%, 91%);
    --Green :hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);

    --White: hsl(0, 0%, 100%);
    --Gremedium: hsl(186, 15%, 59%);
    --Greydarker: hsl(187, 24%, 22%);

    --font: "Karla", sans-serif;
}

body{
    background-color: var(--lighter);
    font: normal normal 16px var(--font);
}

#content-box{
    background-color: var(--White);
}

label{
    font-size: 16px;
    cursor: pointer;
}
#radio-container{
    padding-left: 25px;
    padding-right: 0  !important;
}

input:focus, textarea:focus{
    box-shadow: none !important;
    border-color: var(--Green)!important;
}

input[type='radio'] {
    accent-color: var(--Green);
}

.form-check-input:checked{
    background-color: var(--Green);
    border-color: var(--Green);
}

@media screen and (max-width:578px) {
    .radio-box{
        display: flex;
        gap: 10px;
    }
    
}

@media  screen and (max-width: 375px) {
    .row{
        display: flex;
        flex-direction: column;
    }
    .col-5{
        width: 100%;
        margin-top: 10px;
    }
    #consent-box{
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }
    .form-check-label{
        font-size: .65em;
    }
    input[type="checkbox"]{
        margin-right: 10px;
    }
    
    .radio-label{
        font-size: .9em;
    }
}