/* General Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts Rules */

@font-face {
    font-family: 'outfit-regular';
    src: url(assets/fonts/outfit/static/Outfit-Regular.ttf);
}

@font-face {
    font-family: 'young-serif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}


/* h1 style */

main h1{
    font: normal normal 2.3em 'young-serif';
    margin-bottom: 20px;
    color: hsl(24, 5%, 18%);
}

/* h2 style */

main h2{
    font-family: 'young-serif';
    font-weight: normal;
    color: hsl(14, 45%, 36%);
}

/* h3 style */

main h3{
    font-family:'outfit-regular' ;
    font-weight: bold;
    color: hsl(332, 51%, 32%);
}

/* p and ul,li style */

main p, li, th, td{
    font-family: 'outfit-regular';
}

strong{
    color:  hsl(24, 5%, 18%);
}

hr{
    color:  hsl(30, 18%, 87%);
}

/* img style */
main header{
    display: flex;
    justify-content: center;
}
main header img{
    min-width: 320px;
    max-width: 650px;
    border-radius: 20px;
    margin-bottom: 25px;
}

/* body style */

body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

/* main style */

main {
    background-color: hsl(0, 0%, 100%);
    min-width: 450px;
    max-width: 650px;
    margin:100px auto 100px;
    padding: 45px;
    border-radius: 25px;
    
}

/* section style */

#preparation_time{
    margin: 25px 0;
    background-color: hsl(330, 100%, 98%);
    padding: 20px 30px;
    border-radius: 10px;
}
#preparation_time h3{
    margin-bottom: 15px;
}
#preparation_time ul{
    padding-left: 18px;
}
#preparation_time ul li{
    text-indent: 16px;
    margin: 7px 0;
    color: hsl(332, 51%, 32%);
    
}
span, p{
    color: hsl(30, 10%, 34%);
    font-weight: normal;
}

/* Ingredients and Instructions style */

.list h2{
    margin-bottom: 15px;
}

.list ul, ol{
    margin-left: 20px;
}

.list ul li, ol li{
    color: hsl(14, 45%, 36%);
    margin-bottom: 15px;
    text-indent: 16px;
    text-align: left;
    font-weight: bolder;
}

.list{
    margin-bottom: 32px;
}
.line{
    border-bottom: 1px solid hsl(30, 18%, 87%);
    margin-bottom: 32px;
}

/* table style */
table{
    margin-top: 20px;
    width: 500px;
}
table tr{
    border: 1px solid black;
}

.td_left{
    color: hsl(30, 10%, 34%);
}

.td_rigth{
    font-weight: bolder;
    color: hsl(14, 45%, 36%);
}



/* versão mobile style */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    main{
        margin: auto;
        border-radius: 0px;
    }
}